<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Ryan O'Donnell</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="mailto:ryan.jp.odonnell@gmail.com?Subject=Hello"><span class="fa fa-envelope"></span> Email</a></li>
      <li><a href="https://github.com/ryanjpodonnell"><span class="fa fa-github"></span> Github</a></li>
      <li><a href="https://www.linkedin.com/profile/in/ryanjpodonnell"><span class="fa fa-linkedin-square"></span> LinkedIn</a></li>
      <li><a href="https://drive.google.com/file/d/0B8jxVrVJ1QOMWk5sblhwRUF6d2M/edit?usp=sharing"><span class="fa fa-file-text"></span> Resume</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>