<div class="container-fixed">
  <%= render 'static_pages/header' %>
  <center><canvas width="500" height="500"></canvas></center>
  <script>
      var canvas = document.getElementsByTagName("canvas")[0];
      var newGame = new this.Asteroids.Game(canvas);
      newGame.start();
  </script>
</div>