<%= render 'static_pages/header' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-7 col-xs-offset-1">
      <h1>Hi, I'm Ryan.</h1>
      <h2>And I'm a RoR / Javascript developer.</h2>
      <hr>
      <p>I am a software and web developer with experience in C++, Ruby and JavaScript. I have a Bachelors Degree in Computer Science from Sonoma State University and since graduation have furthered my programming experience with freelance jobs. I graduated Sonoma State cum laude with a GPA of 3.75. Recently, I have taken an intensive, full-stack, web development course.</p>
      <hr>
      <center><img src="/assets/avatar.png" width="200" class="img-circle"></center>
    </div>
    <div class="col-xs-4">
      <h3>Projects</h3>
      <a href="/snake"><img src="/assets/snake.png" class="project"></a>
      <br>
      <a href="http://hiphopgenius.herokuapp.com/"><img src="/assets/hiphop.png" class="project"></a>
      <br>
      <a href="http://officialrockpaperscissors.herokuapp.com/"><img src="/assets/ORPS.png" class="project"></a>
      <br>
      <a href="/life"><img src="/assets/life.png" class="project"></a>
    </div>    
  </div>  
</div>

<script>
  if (typeof newGame !== "undefined") {
    newGame.stop();
  }
</script>