<%= render 'static_pages/header' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-7 col-xs-offset-1">
      <h1>Ryan O'Donnell</h1>
      <h2>Ace Programmer, Contest Winner, Future Rich Person</p>
      <hr>
      <center>
        <img src="/assets/avatar.png"
             width="200"
             class="img-circle">
      </center>
    </div>
    <div class="col-xs-4">
      <h3>Projects</h3>
      <a href="http://officialrockpaperscissors.herokuapp.com/"><img src="/assets/ORPS.jpg" class="project"></a>
      <br>
      <a href="/snake"><img src="/assets/snake.png" class="project"></a>
      <br>
      <a href="/life"><img src="/assets/life.png" class="project"></a>
      <br>
      <a href="https://twitter.com/Jeopardy_Bot"><img src="/assets/jeopardy.png" class="project"></a>
    </div>
  </div>
</div>

<script>
  if (typeof newGame !== "undefined") {
    newGame.stop();
  }
</script>
